In [1]:
import pandas as pd
import numpy as np

In [2]:
cars= pd.read_csv('Used_Cars.csv')

In [3]:
cars.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [4]:
cars.shape

(8123, 13)

In [5]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8123 entries, 0 to 8122
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8123 non-null   object
 1   year           8123 non-null   int64
 2   selling_price  8123 non-null   int64
 3   km_driven      8123 non-null   int64
 4   fuel           8123 non-null   object
 5   seller_type    8123 non-null   object
 6   transmission   8123 non-null   object
 7   owner          8123 non-null   object
 8   mileage        7902 non-null   object
 9   engine         7902 non-null   object
 10  max_power      7908 non-null   object
 11  torque         7901 non-null   object
 12  seats          7902 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.1+ KB

In [6]:
cars['fuel'].unique()

array(['Diesel', 'Petrol', 'LPG', 'CNG'], dtype=object)

In [7]:
cars['seller_type'].unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [8]:
cars['transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [9]:
cars['owner'].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'], dtype=object)

In [10]:
cars['mileage'].unique()

array(['23.4 kmpl', '21.14 kmpl', '17.7 kmpl', '23.0 kmpl', '16.1 kmpl',
       '20.14 kmpl', '17.3 km/kg', '23.59 kmpl', '20.0 kmpl',
       '19.01 kmpl', '17.3 kmpl', '19.3 kmpl', nan, '18.9 kmpl',
       '18.15 kmpl', '24.52 kmpl', '19.7 kmpl', '22.54 kmpl', '21.0 kmpl',
       '25.5 kmpl', '26.59 kmpl', '21.5 kmpl', '20.3 kmpl', '21.4 kmpl',
       '24.7 kmpl', '18.2 kmpl', '16.8 kmpl', '24.3 kmpl', '14.0 kmpl',
       '18.6 kmpl', '33.44 km/kg', '23.95 kmpl', '17.0 kmpl',
       '20.63 kmpl', '13.93 kmpl', '16.0 kmpl', '17.8 kmpl', '18.5 kmpl',
       '12.55 kmpl', '12.99 kmpl', '14.8 kmpl', '13.5 kmpl', '26.0 kmpl',
       '20.65 kmpl', '27.3 kmpl', '11.36 kmpl', '17.68 kmpl',
       '14.28 kmpl', '18.53 kmpl', '14.84 kmpl', '21.12 kmpl',
       '20.36 kmpl', '21.27 kmpl', '18.16 kmpl', '22.0 kmpl', '25.1 kmpl',
       '20.51 kmpl', '21.66 kmpl', '25.2 kmpl', '22.9 kmpl', '16.02 kmpl',
       '20.54 kmpl', '22.77 kmpl', '15.71 kmpl', '23.1 kmpl',
       '19.02 kmpl', '19.81 kmpl', '26.2 km/kg', '16.47 kmpl',
       '15.04 kmpl', '19.1 kmpl', '21.79 kmpl', '18.8 kmpl', '21.21 kmpl',
       '15.37 kmpl', '11.79 kmpl', '19.0 kmpl', '14.3 kmpl', '15.8 kmpl',
       '15.1 kmpl', '19.09 kmpl', '22.32 kmpl', '21.9 kmpl', '14.53 kmpl',
       '21.63 kmpl', '20.85 kmpl', '20.45 kmpl', '19.67 kmpl',
       '23.01 kmpl', '20.77 kmpl', '17.92 kmpl', '17.01 kmpl',
       '22.37 kmpl', '19.33 kmpl', '9.5 kmpl', '12.83 kmpl', '22.48 kmpl',
       '16.78 kmpl', '14.67 kmpl', '15.0 kmpl', '13.96 kmpl', '18.0 kmpl',
       '12.07 kmpl', '26.21 kmpl', '10.8 kmpl', '16.3 kmpl', '13.6 kmpl',
       '14.74 kmpl', '15.6 kmpl', '19.56 kmpl', '22.69 kmpl',
       '19.16 kmpl', '18.12 kmpl', '12.1 kmpl', '17.5 kmpl', '42.0 kmpl',
       '20.4 kmpl', '21.1 kmpl', '19.44 kmpl', '13.0 kmpl', '21.43 kmpl',
       '22.95 kmpl', '16.2 kmpl', '15.3 kmpl', '28.09 kmpl', '17.4 kmpl',
       '19.4 kmpl', '26.6 km/kg', '17.6 kmpl', '28.4 kmpl', '14.1 kmpl',
       '25.17 kmpl', '22.74 kmpl', '17.57 kmpl', '16.95 kmpl',
       '19.49 kmpl', '17.21 kmpl', '13.2 kmpl', '14.2 kmpl', '26.8 kmpl',
       '25.4 kmpl', '11.5 kmpl', '27.28 kmpl', '17.97 kmpl', '12.8 kmpl',
       '16.55 kmpl', '12.05 kmpl', '14.07 kmpl', '21.02 kmpl',
       '11.57 kmpl', '17.9 kmpl', '15.96 kmpl', '17.1 kmpl', '17.19 kmpl',
       '21.01 kmpl', '24.0 kmpl', '25.6 kmpl', '21.38 kmpl', '23.84 kmpl',
       '23.08 kmpl', '14.24 kmpl', '20.71 kmpl', '15.64 kmpl',
       '14.5 kmpl', '16.34 kmpl', '27.39 kmpl', '11.1 kmpl', '13.9 kmpl',
       '20.88 km/kg', '20.92 kmpl', '23.8 kmpl', '24.4 kmpl',
       '15.29 kmpl', '21.19 kmpl', '22.5 kmpl', '19.6 kmpl', '23.65 kmpl',
       '25.32 kmpl', '23.5 kmpl', '16.6 kmpl', '23.9 kmpl', '20.8 kmpl',
       '27.62 kmpl', '12.9 kmpl', '25.44 kmpl', '17.88 kmpl', '22.7 kmpl',
       '17.2 kmpl', '15.42 kmpl', '19.68 kmpl', '18.7 kmpl', '15.4 kmpl',
       '19.34 kmpl', '22.71 kmpl', '25.8 kmpl', '13.7 kmpl', '12.2 kmpl',
       '18.49 kmpl', '9.0 kmpl', '0.0 kmpl', '13.58 kmpl', '10.1 kmpl',
       '20.5 kmpl', '25.0 kmpl', '10.5 kmpl', '22.07 kmpl', '22.3 kmpl',
       '15.26 kmpl', '20.62 kmpl', '27.4 kmpl', '23.2 kmpl', '14.4 kmpl',
       '18.4 kmpl', '30.46 km/kg', '14.02 kmpl', '11.0 kmpl', '20.6 kmpl',
       '22.05 kmpl', '20.2 kmpl', '18.1 kmpl', '22.1 kmpl', '19.87 kmpl',
       '13.01 kmpl', '18.06 kmpl', '26.1 kmpl', '16.52 kmpl',
       '13.55 kmpl', '24.2 kmpl', '25.83 kmpl', '11.2 kmpl', '17.09 kmpl',
       '21.03 kmpl', '17.45 kmpl', '21.64 kmpl', '21.94 km/kg',
       '13.87 kmpl', '19.98 kmpl', '20.52 kmpl', '23.57 kmpl',
       '11.7 kmpl', '17.43 kmpl', '18.88 kmpl', '13.68 kmpl',
       '11.18 kmpl', '20.89 kmpl', '11.8 kmpl', '19.62 kmpl', '21.7 kmpl',
       '14.9 kmpl', '19.5 kmpl', '10.91 kmpl', '15.7 kmpl', '20.73 kmpl',
       '15.85 kmpl', '20.7 kmpl', '14.23 kmpl', '16.5 kmpl', '17.36 kmpl',
       '12.6 kmpl', '16.36 kmpl', '14.95 kmpl', '16.9 kmpl', '19.2 kmpl',
       '16.96 kmpl', '22.15 kmpl', '18.78 kmpl', '19.61 kmpl',
       '17.71 kmpl', '18.3 kmpl', '19.12 kmpl', '19.72 kmpl', '12.0 kmpl',
       '11.4 kmpl', '23.03 kmpl', '11.07 kmpl', '15.9 kmpl', '17.67 kmpl',
       '20.46 kmpl', '13.1 kmpl', '13.45 km/kg', '24.8 kmpl',
       '15.73 kmpl', '15.11 kmpl', '12.7 kmpl', '21.2 kmpl', '20.38 kmpl',
       '21.56 kmpl', '13.22 kmpl', '14.49 kmpl', '15.05 kmpl',
       '23.26 kmpl', '15.41 kmpl', '13.8 kmpl', '22.27 kmpl',
       '32.52 km/kg', '14.66 kmpl', '12.12 kmpl', '16.84 kmpl',
       '14.09 kmpl', '14.7 kmpl', '13.4 kmpl', '15.5 kmpl', '13.49 kmpl',
       '11.88 km/kg', '14.6 kmpl', '10.75 kmpl', '24.5 kmpl',
       '11.74 kmpl', '16.07 kmpl', '15.63 kmpl', '26.3 km/kg',
       '23.7 km/kg', '25.47 kmpl', '17.05 kmpl', '23.3 kmpl', '11.9 kmpl',
       '13.38 kmpl', '20.86 kmpl', '19.2 km/kg', '10.9 kmpl',
       '18.25 kmpl', '15.2 kmpl', '20.37 kmpl', '17.8 km/kg', '21.8 kmpl',
       '11.96 kmpl', '24.04 kmpl', '19.69 kmpl', '13.73 kmpl',
       '21.04 kmpl', '25.01 kmpl', '10.93 kmpl', '10.9 km/kg',
       '24.29 kmpl', '13.44 kmpl', '21.1 km/kg', '19.08 kmpl',
       '20.34 kmpl', '11.68 kmpl', '12.5 kmpl', '12.3 kmpl', '23.87 kmpl',
       '16.38 kmpl', '17.42 kmpl', '10.0 kmpl', '18.24 kmpl',
       '10.71 kmpl', '19.59 kmpl', '16.7 kmpl', '19.83 kmpl',
       '21.76 kmpl', '16.05 kmpl', '20.28 kmpl', '16.25 kmpl',
       '16.73 kmpl', '18.48 kmpl', '13.2 km/kg', '21.4 km/kg',
       '14.99 kmpl', '18.76 kmpl', '16.4 kmpl', '19.64 kmpl',
       '14.94 kmpl', '16.6 km/kg', '16.0 km/kg', '17.11 kmpl',
       '22.8 km/kg', '32.26 km/kg', '33.0 km/kg', '12.4 kmpl',
       '18.44 kmpl', '16.09 kmpl', '19.0 km/kg', '12.62 kmpl',
       '21.13 kmpl', '15.17 kmpl', '21.73 kmpl', '21.72 kmpl',
       '12.85 kmpl', '14.81 kmpl', '13.24 kmpl', '14.4 km/kg',
       '21.49 kmpl', '14.62 kmpl', '26.83 km/kg', '11.45 kmpl',
       '12.08 kmpl', '15.74 kmpl', '11.3 kmpl', '15.1 km/kg',
       '14.21 kmpl', '11.72 kmpl', '16.51 kmpl'], dtype=object)

In [11]:
cars['engine'].unique()

array(['1248 CC', '1498 CC', '1497 CC', '1396 CC', '1298 CC', '1197 CC',
       '1061 CC', '796 CC', '1364 CC', '1399 CC', '1461 CC', '993 CC',
       nan, '1198 CC', '1199 CC', '998 CC', '1591 CC', '2179 CC',
       '1368 CC', '2982 CC', '2494 CC', '2143 CC', '2477 CC', '1462 CC',
       '2755 CC', '1968 CC', '1798 CC', '1196 CC', '1373 CC', '1598 CC',
       '1998 CC', '1086 CC', '1194 CC', '1172 CC', '1405 CC', '1582 CC',
       '999 CC', '2487 CC', '1999 CC', '3604 CC', '2987 CC', '1995 CC',
       '1451 CC', '1969 CC', '2967 CC', '2497 CC', '1797 CC', '1991 CC',
       '2362 CC', '1493 CC', '1599 CC', '1341 CC', '1794 CC', '799 CC',
       '1193 CC', '2696 CC', '1495 CC', '1186 CC', '1047 CC', '2498 CC',
       '2956 CC', '2523 CC', '1120 CC', '624 CC', '1496 CC', '1984 CC',
       '2354 CC', '814 CC', '793 CC', '1799 CC', '936 CC', '1956 CC',
       '1997 CC', '1499 CC', '1948 CC', '2997 CC', '2489 CC', '2499 CC',
       '2609 CC', '2953 CC', '1150 CC', '1994 CC', '1388 CC', '1527 CC',
       '2199 CC', '995 CC', '2993 CC', '1586 CC', '1390 CC', '909 CC',
       '2393 CC', '3198 CC', '1339 CC', '2835 CC', '2092 CC', '1595 CC',
       '2496 CC', '1596 CC', '1597 CC', '2596 CC', '2148 CC', '1299 CC',
       '1590 CC', '2231 CC', '2694 CC', '2200 CC', '1795 CC', '1896 CC',
       '1796 CC', '1422 CC', '2359 CC', '2197 CC', '2999 CC', '1781 CC',
       '2650 CC', '1343 CC', '2446 CC', '3498 CC', '2198 CC', '2776 CC',
       '1950 CC'], dtype=object)

In [12]:
cars['max_power'].unique()

array(['74 bhp', '103.52 bhp', '78 bhp', '90 bhp', '88.2 bhp',
       '81.86 bhp', '57.5 bhp', '37 bhp', '67.1 bhp', '68.1 bhp',
       '108.45 bhp', '60 bhp', '73.9 bhp', nan, '67 bhp', '82 bhp',
       '88.5 bhp', '46.3 bhp', '88.73 bhp', '64.1 bhp', '98.6 bhp',
       '88.8 bhp', '83.81 bhp', '83.1 bhp', '47.3 bhp', '73.8 bhp',
       '34.2 bhp', '35 bhp', '81.83 bhp', '40.3 bhp', '121.3 bhp',
       '138.03 bhp', '160.77 bhp', '117.3 bhp', '116.3 bhp', '83.14 bhp',
       '67.05 bhp', '168.5 bhp', '100 bhp', '120.7 bhp', '98.63 bhp',
       '175.56 bhp', '103.25 bhp', '171.5 bhp', '100.6 bhp', '174.33 bhp',
       '187.74 bhp', '170 bhp', '78.9 bhp', '88.76 bhp', '86.8 bhp',
       '108.495 bhp', '108.62 bhp', '93.7 bhp', '103.6 bhp', '98.59 bhp',
       '189 bhp', '67.04 bhp', '68.05 bhp', '58.2 bhp', '82.85 bhp',
       '81.80 bhp', '73 bhp', '120 bhp', '94.68 bhp', '160 bhp', '65 bhp',
       '155 bhp', '69.01 bhp', '126.32 bhp', '138.1 bhp', '83.8 bhp',
       '126.2 bhp', '98.96 bhp', '62.1 bhp', '86.7 bhp', '188 bhp',
       '214.56 bhp', '177 bhp', '280 bhp', '148.31 bhp', '254.79 bhp',
       '190 bhp', '177.46 bhp', '204 bhp', '141 bhp', '117.6 bhp',
       '241.4 bhp', '282 bhp', '150 bhp', '147.5 bhp', '108.5 bhp',
       '103.5 bhp', '183 bhp', '181.04 bhp', '157.7 bhp', '164.7 bhp',
       '91.1 bhp', '400 bhp', '68 bhp', '75 bhp', '85.8 bhp', '87.2 bhp',
       '53 bhp', '118 bhp', '103.2 bhp', '83 bhp', '84 bhp', '58.16 bhp',
       '147.94 bhp', '74.02 bhp', '53.3 bhp', '80 bhp', '88.7 bhp',
       '97.7 bhp', '121.36 bhp', '162 bhp', '140 bhp', '94 bhp',
       '100.57 bhp', '82.9 bhp', '83.11 bhp', '70 bhp', '153.86 bhp',
       '121 bhp', '126.3 bhp', '73.97 bhp', '171 bhp', '69 bhp',
       '99.6 bhp', '102 bhp', '105 bhp', '63 bhp', '79.4 bhp', '97.9 bhp',
       '63.1 bhp', '66.1 bhp', '110 bhp', '174.5 bhp', '53.26 bhp',
       '73.75 bhp', '67.06 bhp', '64.08 bhp', '37.5 bhp', '189.3 bhp',
       '158.8 bhp', '61.7 bhp', '55.2 bhp', '71.01 bhp', '73.74 bhp',
       '147.9 bhp', '71 bhp', '77 bhp', '121.4 bhp', '113.4 bhp',
       '47 bhp', '130 bhp', '57.6 bhp', '138 bhp', '52.8 bhp',
       '53.64 bhp', '53.5 bhp', '76.8 bhp', '82.4 bhp', '113.42 bhp',
       '76 bhp', '84.8 bhp', '0', '56.3 bhp', '218 bhp', '112 bhp',
       '92 bhp', '105.5 bhp', '169 bhp', '95 bhp', '72.4 bhp', '115 bhp',
       '152 bhp', '91.2 bhp', '156 bhp', '74.9 bhp', '62 bhp',
       '105.3 bhp', '73.94 bhp', '85.80 bhp', '85 bhp', '118.3 bhp',
       '72 bhp', '147.51 bhp', '58 bhp', '64 bhp', '126.24 bhp',
       '76.9 bhp', '194.3 bhp', '99.23 bhp', '89.84 bhp', '123.7 bhp',
       '118.35 bhp', '99 bhp', '241 bhp', '136 bhp', '261.4 bhp',
       '104.68 bhp', '37.48 bhp', '104 bhp', '88.50 bhp', '63.12 bhp',
       '91.7 bhp', '102.5 bhp', '177.6 bhp', '45 bhp', '123.37 bhp',
       '147.8 bhp', '184 bhp', '84.48 bhp', '68.07 bhp', '74.96 bhp',
       '167.6 bhp', '152.87 bhp', '112.2 bhp', '83.83 bhp', '197 bhp',
       '110.4 bhp', '104.55 bhp', '103 bhp', '103.3 bhp', '66 bhp',
       '108.6 bhp', '165 bhp', '163.7 bhp', '116.9 bhp', '94.93 bhp',
       '127 bhp', '198.5 bhp', '179.5 bhp', '120.69 bhp', '121.31 bhp',
       '138.08 bhp', '187.7 bhp', '80.8 bhp', '86.79 bhp', '93.87 bhp',
       '116.6 bhp', '143 bhp', '92.7 bhp', '88 bhp', '58.33 bhp',
       '78.8 bhp', '64.4 bhp', '125 bhp', '139.01 bhp', '254.8 bhp',
       '181 bhp', '258 bhp', '55.23 bhp', '270.9 bhp', '265 bhp',
       '157.75 bhp', '101 bhp', '186 bhp', '187.4 bhp', '224 bhp',
       '64.9 bhp', '148 bhp', '89.75 bhp', '32.8 bhp', '91.72 bhp',
       '106 bhp', '98.97 bhp', '66.6 bhp', '86 bhp', '65.3 bhp',
       '98.82 bhp', '198.25 bhp', '38 bhp', '142 bhp', '132 bhp',
       '174.57 bhp', '178 bhp', '163.2 bhp', '203.2 bhp', '177.5 bhp',
       '175 bhp', '57 bhp', '80.84 bhp', '68.4 bhp', '167.67 bhp',
       '170.63 bhp', '149.5 bhp', '48.21 bhp', ' bhp', '201.1 bhp',
       '100.5 bhp', '144 bhp', '194.4 bhp', '168.7 bhp', '104.5 bhp',
       '103.26 bhp', '116.4 bhp', '98.79 bhp', '35.5 bhp', '80.9 bhp',
       '58.3 bhp', '272 bhp', '235 bhp', '167.62 bhp', '170.30 bhp',
       '139.46 bhp', '158 bhp', '110.5 bhp', '82.5 bhp', '141.1 bhp',
       '38.4 bhp', '197.2 bhp', '161 bhp', '194 bhp', '122.4 bhp',
       '134.10 bhp', '60.2 bhp', '134 bhp', '203 bhp', '135.1 bhp'],
      dtype=object)

In [13]:
cars['torque'].unique()

array(['190Nm@ 2000rpm', '250Nm@ 1500-2500rpm', '12.7@ 2,700(kgm@ rpm)',
       '22.4 kgm at 1750-2750rpm', '11.5@ 4,500(kgm@ rpm)',
       '113.75nm@ 4000rpm', '7.8@ 4,500(kgm@ rpm)', '59Nm@ 2500rpm',
       '170Nm@ 1800-2400rpm', '160Nm@ 2000rpm', '248Nm@ 2250rpm',
       '78Nm@ 4500rpm', nan, '84Nm@ 3500rpm', '115Nm@ 3500-3600rpm',
       '200Nm@ 1750rpm', '62Nm@ 3000rpm', '219.7Nm@ 1500-2750rpm',
       '114Nm@ 3500rpm', '115Nm@ 4000rpm', '69Nm@ 3500rpm',
       '172.5Nm@ 1750rpm', '6.1kgm@ 3000rpm', '114.7Nm@ 4000rpm',
       '60Nm@ 3500rpm', '90Nm@ 3500rpm', '151Nm@ 4850rpm',
       '104Nm@ 4000rpm', '320Nm@ 1700-2700rpm', '250Nm@ 1750-2500rpm',
       '145Nm@ 4600rpm', '146Nm@ 4800rpm', '343Nm@ 1400-3400rpm',
       '200Nm@ 1400-3400rpm', '200Nm@ 1250-4000rpm',
       '400Nm@ 2000-2500rpm', '138Nm@ 4400rpm', '360Nm@ 1200-3400rpm',
       '200Nm@ 1200-3600rpm', '380Nm@ 1750-2500rpm', '173Nm@ 4000rpm',
       '400Nm@ 1750-3000rpm', '400Nm@ 1400-2800rpm',
       '200Nm@ 1750-3000rpm', '111.7Nm@ 4000rpm', '219.6Nm@ 1500-2750rpm',
       '112Nm@ 4000rpm', '250Nm@ 1500-3000rpm', '130Nm@ 4000rpm',
       '205Nm@ 1750-3250rpm', '280Nm@ 1350-4600rpm', '99.04Nm@ 4500rpm',
       '77Nm@ 3500rpm', '110Nm@ 3750rpm', '153Nm@ 3800rpm',
       '113.7Nm@ 4000rpm', '114Nm@ 4000rpm', '113Nm@ 4200rpm',
       '101Nm@ 3000rpm', '290Nm@ 1800-2800rpm', '120Nm@ 4250rpm',
       '250Nm@ 1500~4500rpm', '96 Nm at 3000 rpm', '360Nm@ 1750-2800rpm',
       '135Nm@ 2500rpm', '259.8Nm@ 1900-2750rpm', '200Nm@ 1900rpm',
       '259.9Nm@ 1900-2750rpm', '91Nm@ 4250rpm', '96.1Nm@ 3000rpm',
       '109Nm@ 4500rpm', '400nm@ 1750-3000rpm', '202Nm@ 3600-5200rpm',
       '430Nm@ 1750-2500rpm', '347Nm@ 4300rpm', '382nm@ 1750-2250rpm',
       '620Nm@ 1600-2400rpm', '400Nm@ 1750-2500rpm', '250@ 1250-5000rpm',
       '500Nm@ 1600-1800rpm', '250Nm@ 1600-3600rpm', '400Nm',
       '550Nm@ 1750-2750rpm', '490Nm@ 1600rpm', '250 Nm at 2750 rpm',
       '177.5Nm@ 4700rpm', '170Nm@ 1750-4000rpm', '300Nm@ 1200-4000rpm',
       '300Nm@ 1200-1400rpm', '260Nm@ 1500-2750rpm', '213Nm@ 4500rpm',
       '224Nm@ 4000rpm', '640Nm@ 1740rpm', '113Nm@ 4500rpm',
       '95Nm@ 3000-4300rpm', '13.1kgm@ 4600rpm', '205Nm@ 1800-2800rpm',
       '71Nm@ 3500rpm', '190Nm@ 1750-3000rpm', '146Nm at 4800 rpm',
       '14.9 KGM at 3000 RPM', '115Nm@ 3200rpm', '117nm@ 4000rpm',
       '320Nm@ 1500-3000rpm', '72Nm@ 4386rpm', '11.4 kgm at 4,000 rpm',
       '140Nm@ 1500-4000rpm', '134Nm@ 4000rpm', '150Nm@ 4500rpm',
       '340Nm@ 1800-3250rpm', '240Nm@ 1600-2800rpm',
       '330Nm@ 1600-2800rpm', '12.5@ 3,500(kgm@ rpm)', '110Nm@ 4800rpm',
       '111.8Nm@ 4000rpm', '11.8@ 3,200(kgm@ rpm)', '135.4Nm@ 2500rpm',
       '300Nm@ 1750-2500rpm', '190.25nm@ 1750-2250rpm',
       '140Nm@ 1800-3000rpm', '20.4@ 1400-3400(kgm@ rpm)',
       '247Nm@ 1800-2000rpm', '223Nm@ 1600-2200rpm',
       '180 Nm at 1440-1500rpm', '195Nm@ 1400-2200rpm',
       '154.9Nm@ 4200rpm', '114.73Nm@ 4000rpm', '160Nm@ 1500-2750rpm',
       '108Nm@ 4400rpm', '190.24nm@ 1750-2250rpm', '200Nm@ 2000-3500rpm',
       '420Nm@ 1400-2600rpm', '100Nm@ 2700rpm', '51Nm@ 4000rpm',
       '250Nm@ 1250-5300rpm', '132Nm@ 3000rpm', '350Nm@ 1500-2750rpm',
       '218Nm@ 4200rpm', '14.9@ 3,000(kgm@ rpm)',
       '24@ 1,900-2,750(kgm@ rpm)', '13.5@ 2,500(kgm@ rpm)',
       '85Nm@ 3000rpm', '74.5Nm@ 4000rpm', '160Nm@ 1750rpm',
       '180.4Nm@ 1750-2500rpm', '230Nm@ 1500-2500rpm',
       '113.75Nm@ 4000rpm', '219.66nm@ 1500-2750rpm', '245Nm@ 1750rpm',
       '360Nm@ 1400-3200rpm', '320Nm@ 2000rpm', '135 Nm at 2500  rpm ',
       '24 KGM at 1900-2750 RPM', '190Nm@ 1750-2250rpm',
       '204Nm@ 2000-2750rpm', '14.3@ 1,800-3,000(kgm@ rpm)',
       '250nm@ 1500-2750rpm', '125Nm@ 2000rpm', '172Nm@ 4300rpm',
       '150Nm@ 1750rpm', '102Nm@ 4000rpm', '85Nm@ 2500rpm',
       '8.5@ 2,500(kgm@ rpm)', '180Nm@ 1440-1500rpm', '106.5Nm@ 4400rpm',
       '108.5Nm@ 5000rpm', '350Nm@ 1750-2500rpm', '144.15nm@ 4500rpm',
       '104Nm@ 4400rpm', '99Nm@ 4500rpm', '200Nm@ 2000rpm',
       '280Nm@ 1800-2800rpm', '142.5Nm@ 1750rpm', '140Nm@ 4400rpm',
       '115@ 2,500(kgm@ rpm)', '196Nm@ 5000rpm',
       '260 Nm at 1800-2200 rpm', '9.8@ 3,000(kgm@ rpm)',
       '209Nm@ 2000rpm', '135 Nm at 2500 rpm', '140Nm@ 4200rpm',
       '220Nm at 1400-2600 rpm', '48Nm@ 3000rpm', '171Nm@ 1800rpm',
       '277.5Nm@ 1700-2200rpm', '215Nm@ 3600rpm', '219.6Nm@ 1750-2750rpm',
       '195Nm@ 1440-2200rpm', '13@ 2,500(kgm@ rpm)', '180Nm@ 2000rpm',
       '200Nm@ 1400-2200rpm', '380Nm(38.7kgm)@ 2500rpm', '110Nm@ 4400rpm',
       '72Nm@ 4388rpm', '263.7Nm@ 2500rpm', '320Nm@ 1600-2800rpm',
       '25.5@ 1,500-3,000(kgm@ rpm)', '16.3@ 2,000(kgm@ rpm)',
       '190 Nm at 1750 rpm ', '94.14Nm@ 3500rpm', '12@ 3,500(kgm@ rpm)',
       '113Nm@ 5000rpm', '280Nm@ 2400-2800rpm', '96Nm@ 3500rpm',
       '16@ 2,000(kgm@ rpm)', '320Nm@ 1750-3000rpm', '114.73nm@ 4000rpm',
       '320Nm@ 1750-2500rpm', '138nm@ 4400rpm', '190Nm@ 1750rpm',
       '789Nm@ 2250rpm', '259.87Nm@ 1900-2750rpm', '205Nm@ 1750rpm',
       '436.39Nm@ 1800-2500rpm', '182.5Nm@ 1500-1800rpm',
       '90.3Nm@ 4200rpm', '12.5@ 2,500(kgm@ rpm)', '215Nm@ 1750-3000rpm',
       '215Nm@ 1750-3000', '305Nm@ 2000rpm', '540Nm@ 2000rpm',
       '327Nm@ 2600rpm', '300Nm@ 1600-3000rpm', '620Nm@ 2000-2500rpm',
       '450Nm@ 1600-2400rpm', '19@ 1,800(kgm@ rpm)',
       '9.2@ 4,200(kgm@ rpm)', '145@ 4,100(kgm@ rpm)',
       '51Nm@ 4000+/-500rpm', '110Nm@ 3000rpm', '148Nm@ 3500rpm',
       '116Nm@ 4750rpm', '48@ 3,000+/-500(NM@ rpm)', '148Nm@ 4000rpm',
       '222Nm@ 4300rpm', '135.3Nm@ 5000rpm', '98Nm@ 1600-3000rpm',
       '170Nm@ 1400-4500rpm', '343Nm@ 1400-2800rpm',
       '402Nm@ 1600-3000rpm', '113Nm@ 3300rpm', '99.07Nm@ 4500rpm',
       '210nm@ 1600-2200rpm', '190 Nm at 1750  rpm ', '32.1kgm@ 2000rpm',
       '224nm@ 1500-2750rpm', '400nm@ 1750-2500rpm',
       '215Nm@ 1750-2500rpm', '25@ 1,800-2,800(kgm@ rpm)',
       '197Nm@ 1750rpm', '136.3Nm@ 4200rpm', '470Nm@ 1750-2500rpm',
       '11@ 3,000(kgm@ rpm)', '142Nm@ 4000rpm', '145Nm@ 4100rpm',
       '320Nm@ 1500-2800rpm', '123Nm@ 1000-2500rpm',
       '218Nm@ 1400-2600rpm', '510@ 1600-2400', '220Nm@ 1500-2750rpm',
       '380Nm@ 2000rpm', '104Nm@ 3100rpm', '292Nm@ 2000rpm',
       '20@ 3,750(kgm@ rpm)', '46.5@ 1,400-2,800(kgm@ rpm)',
       '380Nm@ 2500rpm', '15@ 3,800(kgm@ rpm)', '136Nm@ 4250rpm',
       '228Nm@ 4400rpm', '149Nm@ 4500rpm', '187Nm@ 2500rpm',
       '146Nm@ 3400rpm', '8.6@ 3,500(kgm@ rpm)', '219.7Nm@ 1750-2750rpm',
       '190Nm@ 2000-3000', '450Nm@ 2000rpm', '300Nm@ 2000rpm',
       '230Nm@ 1800-2000rpm', '42@ 2,000(kgm@ rpm)',
       '110Nm@ 3000-4300rpm', '110(11.2)@ 4800', '330Nm@ 1800rpm',
       '225Nm@ 1500-2500rpm', '380Nm@ 1750-2750rpm',
       '28.3@ 1,700-2,200(kgm@ rpm)', '259.88Nm@ 1900-2750rpm',
       '580Nm@ 1400-3250rpm', '400 Nm /2000 rpm', '127Nm@ 3500rpm',
       '300Nm@ 1500-2500rpm', '132.3Nm@ 4000rpm', '113nm@ 4400rpm',
       '151NM@ 4850rpm', '153Nm@ 3750-3800rpm', '10.7@ 2,500(kgm@ rpm)',
       '124.6Nm@ 3500rpm', '78Nm@ 3500rpm', '219.9Nm@ 1750-2750rpm',
       '420.7Nm@ 1800-2500rpm', '130Nm@ 3000rpm', '424Nm@ 2000rpm',
       '130@ 2500(kgm@ rpm)', '99.8Nm@ 2700rpm', '113Nm@ 4,500rpm',
       '11.2@ 4,400(kgm@ rpm)', '240Nm@ 1850rpm', '16.1@ 4,200(kgm@ rpm)',
       '320Nm@ 1750-2700rpm', '115Nm@ 4500rpm', '245Nm@ 4000rpm',
       '321Nm@ 1600-2400rpm', '619Nm@ 1600-2400rpm',
       '380Nm@ 1750-3000rpm', '560Nm@ 1500rpm', '230Nm@ 1500-2250rpm',
       '90Nm@ 2650rpm', '260Nm@ 1800-2200rpm', '600Nm@ 2000rpm',
       '259.87nm@ 1500-3000rpm', '16.6@ 4,500(kgm@ rpm)',
       '219.66NM@ 1500-2750rpm', '12.5@ 3,000(kgm@ rpm)',
       '620Nm@ 1500-2500rpm', '250Nm@ 1500-4500rpm',
       '14.9@ 3,400(kgm@ rpm)', '25.5@ 1,900(kgm@ rpm)',
       '33.7@ 1,800(kgm@ rpm)', '285Nm@ 2400-4000rpm',
       '10.7@ 2,600(kgm@ rpm)', '250Nm@ 1000-2000rpm', '240Nm@ 1750rpm',
       '226Nm@ 4400rpm', '510Nm@ 1600-2800rpm', '259.87NM@ 1500-3000rpm',
       '155 Nm at 1600-2800 rpm', '240Nm@ 2000rpm', '103Nm@ 4500rpm',
       '13.5@ 4,800(kgm@ rpm)', '400Nm@ 1750-2750rpm',
       '175Nm@ 1500-4100rpm', '135.4Nm@ 2500', '245Nm@ 5000rpm',
       '57Nm@ 2500rpm', '96Nm@ 2500rpm', '215nm@ 1750-2500rpm',
       '10.4@ 3,200(kgm@ rpm)', '128Nm@ 3100rpm', '102Nm@ 2600rpm',
       '131Nm@ 4400rpm', '11.4@ 4,000(kgm@ rpm)', '250Nm@ 4250rpm',
       '343Nm@ 1600-2800rpm', '12@ 2500(kgm@ rpm)',
       '12.4@ 2,600(kgm@ rpm)', '170Nm@ 4200rpm', '176Nm@ 1500rpm',
       '380NM@ 1800-2800rpm', '250Nm@ 1600-2000rpm',
       '24.5@ 3,500-4,500(kgm@ rpm)', '22.9@ 1,950-4,700(kgm@ rpm)',
       '113Nm@ 4400rpm', '121Nm@ 2800rpm', '210 / 1900',
       '250Nm@ 1250-5000rpm', '400Nm@ 175-2750rpm', '350Nm@ 1500-3500rpm',
       '175nm@ 1750-4000rpm', '115@ 2500(kgm@ rpm)', '110Nm@ 4500rpm',
       '190Nm@ 2000-3000rpm', '21.4@ 1,750-4,600(kgm@ rpm)',
       '96Nm@ 3000rpm', '23.6@ 4,250(kgm@ rpm)', '11.3kgm@ 4700rpm',
       '450Nm@ 1750-2500rpm', '35.7@ 1,750-3,000(kgm@ rpm)',
       '6@ 2,500(kgm@ rpm)', '13.9 kgm at 4200 rpm',
       '320Nm@ 1400-4100rpm', '150Nm@ 1700-4500rpm', '113.8Nm@ 4000rpm',
       '110@ 3,000(kgm@ rpm)', '151Nm@ 2400rpm', '62Nm@ 2500rpm',
       '18@ 1,600-2,200(kgm@ rpm)', '83Nm@ 3000rpm', '124.5Nm@ 3500rpm',
       '20@ 4,700(kgm@ rpm)', '300Nm@ 1600-4000rpm',
       '171.6Nm@ 1500-4000rpm', '21.4@ 1,900(kgm@ rpm)',
       '190@ 21,800(kgm@ rpm)', '5.7@ 2,500(kgm@ rpm)', '88.4Nm@ 4200rpm',
       '250 Nm at 1,500-3,000 rpm', '340nm@ 1750-3000rpm',
       '36.6@ 1,750-2,500(kgm@ rpm)', '12.5kgm@ 3500rpm',
       '6.1@ 3,000(kgm@ rpm)', '110Nm@ 4000rpm', '350nm@ 1800-2600rpm',
       '175nm@ 1500-4100rpm', '4.8kgm@ 3000rpm', '355Nm@ 4500rpm',
       '51@ 1,750-3,000(kgm@ rpm)', '119Nm@ 4250rpm',
       '410Nm@ 1600-2800rpm', '174Nm@ 4300rpm', '99.1Nm@ 4500rpm',
       '385Nm@ 1600-2500rpm', '180 Nm at 2000rpm', '190 Nm at 1750 rpm',
       '53@ 2,000-2,750(kgm@ rpm)', '360Nm@ 1400-2600rpm',
       '420Nm@ 2000rpm', '124Nm@ 3500rpm', '17.5@ 4,300(kgm@ rpm)',
       '360Nm@ 2000rpm', '145Nm@ 3750rpm', '85Nm@ 3500rpm',
       '190Nm@ 4200rpm', '190 Nm at 2000rpm', '13.5@ 2500(kgm@ rpm)',
       '250nm@ 1500-3000rpm', '159.8Nm@ 1500-2750rpm', '500Nm@ 2000rpm',
       '333Nm@ 1600-3200rpm', '400nm@ 2800rpm',
       '33@ 2,000-2,680(kgm@ rpm)', '10.2@ 2,600(kgm@ rpm)', '480Nm',
       '190Nm@ 4300rpm', '320Nm@ 1800-2800rpm', '380Nm@ 1750rpm',
       '250.06nm@ 1500-2750rpm', '90nm@ 3500rpm', '190Nm@ 3700rpm',
       '436.4Nm@ 1800-2500rpm', '96  Nm at 3000  rpm '], dtype=object)

In [14]:
cars['seats'].unique()

array([ 5.,  4., nan,  7.,  8.,  6.,  9., 10., 14.,  2.])

# Quality 
-only first 3 words in name 
-take care of nan values and remove 'kmpl/kmkg' in mileage to convert dtype to float 
-take care of missing values and remove 'CC' in engine 
-take care of missing values and remove 'bhp' in max_power 
-take care of missing values and remove units and make a seperate column for rpm in torque 
-take care of nan and missing values, convert values to int in seats

In [15]:
cars=cars[~cars['engine'].isna()]

In [16]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7902 entries, 0 to 8122
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7902 non-null   object
 1   year           7902 non-null   int64
 2   selling_price  7902 non-null   int64
 3   km_driven      7902 non-null   int64
 4   fuel           7902 non-null   object
 5   seller_type    7902 non-null   object
 6   transmission   7902 non-null   object
 7   owner          7902 non-null   object
 8   mileage        7902 non-null   object
 9   engine         7902 non-null   object
 10  max_power      7902 non-null   object
 11  torque         7901 non-null   object
 12  seats          7902 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 864.3+ KB

In [17]:
cars['name']=cars['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [18]:
cars.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [19]:
cars=cars.reset_index(drop=True)

In [20]:
cars['mileage']=cars['mileage'].str.replace('kmpl',' ')

In [21]:
cars['mileage']=cars['mileage'].str.replace('km/kg',' ').astype(float)

In [22]:
cars['mileage'].head()

0    23.40
1    21.14
2    17.70
3    23.00
4    16.10
Name: mileage, dtype: float64

In [23]:
cars['engine']=cars['engine'].str.replace('CC',' ').astype(float)

In [24]:
cars['max_power'].unique()

array(['74 bhp', '103.52 bhp', '78 bhp', '90 bhp', '88.2 bhp',
       '81.86 bhp', '57.5 bhp', '37 bhp', '67.1 bhp', '68.1 bhp',
       '108.45 bhp', '60 bhp', '73.9 bhp', '67 bhp', '82 bhp', '88.5 bhp',
       '46.3 bhp', '88.73 bhp', '64.1 bhp', '98.6 bhp', '88.8 bhp',
       '83.81 bhp', '83.1 bhp', '47.3 bhp', '73.8 bhp', '34.2 bhp',
       '35 bhp', '81.83 bhp', '40.3 bhp', '121.3 bhp', '138.03 bhp',
       '160.77 bhp', '117.3 bhp', '116.3 bhp', '83.14 bhp', '67.05 bhp',
       '168.5 bhp', '100 bhp', '120.7 bhp', '98.63 bhp', '175.56 bhp',
       '103.25 bhp', '171.5 bhp', '100.6 bhp', '174.33 bhp', '187.74 bhp',
       '170 bhp', '78.9 bhp', '88.76 bhp', '86.8 bhp', '108.495 bhp',
       '108.62 bhp', '93.7 bhp', '103.6 bhp', '98.59 bhp', '189 bhp',
       '67.04 bhp', '68.05 bhp', '58.2 bhp', '82.85 bhp', '81.80 bhp',
       '73 bhp', '120 bhp', '94.68 bhp', '160 bhp', '65 bhp', '155 bhp',
       '69.01 bhp', '126.32 bhp', '138.1 bhp', '83.8 bhp', '126.2 bhp',
       '98.96 bhp', '62.1 bhp', '86.7 bhp', '188 bhp', '214.56 bhp',
       '177 bhp', '280 bhp', '148.31 bhp', '254.79 bhp', '190 bhp',
       '177.46 bhp', '204 bhp', '141 bhp', '117.6 bhp', '241.4 bhp',
       '282 bhp', '150 bhp', '147.5 bhp', '108.5 bhp', '103.5 bhp',
       '183 bhp', '181.04 bhp', '157.7 bhp', '164.7 bhp', '91.1 bhp',
       '400 bhp', '68 bhp', '75 bhp', '85.8 bhp', '87.2 bhp', '53 bhp',
       '118 bhp', '103.2 bhp', '83 bhp', '84 bhp', '58.16 bhp',
       '147.94 bhp', '74.02 bhp', '53.3 bhp', '80 bhp', '88.7 bhp',
       '97.7 bhp', '121.36 bhp', '162 bhp', '140 bhp', '94 bhp',
       '100.57 bhp', '82.9 bhp', '83.11 bhp', '70 bhp', '153.86 bhp',
       '121 bhp', '126.3 bhp', '73.97 bhp', '171 bhp', '69 bhp',
       '99.6 bhp', '102 bhp', '105 bhp', '63 bhp', '79.4 bhp', '97.9 bhp',
       '63.1 bhp', '66.1 bhp', '110 bhp', '174.5 bhp', '53.26 bhp',
       '73.75 bhp', '67.06 bhp', '64.08 bhp', '37.5 bhp', '189.3 bhp',
       '158.8 bhp', '61.7 bhp', '55.2 bhp', '71.01 bhp', '73.74 bhp',
       '147.9 bhp', '71 bhp', '77 bhp', '121.4 bhp', '113.4 bhp',
       '47 bhp', '130 bhp', '57.6 bhp', '138 bhp', '52.8 bhp',
       '53.64 bhp', '53.5 bhp', '76.8 bhp', '82.4 bhp', '113.42 bhp',
       '76 bhp', '84.8 bhp', '56.3 bhp', '218 bhp', '112 bhp', '92 bhp',
       '105.5 bhp', '169 bhp', '95 bhp', '72.4 bhp', '115 bhp', '152 bhp',
       '91.2 bhp', '156 bhp', '74.9 bhp', '62 bhp', '105.3 bhp',
       '73.94 bhp', '85.80 bhp', '85 bhp', '118.3 bhp', '72 bhp',
       '147.51 bhp', '58 bhp', '64 bhp', '126.24 bhp', '76.9 bhp',
       '194.3 bhp', '99.23 bhp', '89.84 bhp', '123.7 bhp', '118.35 bhp',
       '99 bhp', '241 bhp', '136 bhp', '261.4 bhp', '104.68 bhp',
       '37.48 bhp', '104 bhp', '88.50 bhp', '63.12 bhp', '91.7 bhp',
       '102.5 bhp', '177.6 bhp', '45 bhp', '123.37 bhp', '147.8 bhp',
       '184 bhp', '84.48 bhp', '68.07 bhp', '74.96 bhp', '167.6 bhp',
       '152.87 bhp', '112.2 bhp', '83.83 bhp', '197 bhp', '110.4 bhp',
       '104.55 bhp', '103 bhp', '103.3 bhp', '66 bhp', '108.6 bhp',
       '165 bhp', '163.7 bhp', '116.9 bhp', '94.93 bhp', '127 bhp',
       '198.5 bhp', '179.5 bhp', '120.69 bhp', '121.31 bhp', '138.08 bhp',
       '187.7 bhp', '80.8 bhp', '86.79 bhp', '93.87 bhp', '116.6 bhp',
       '143 bhp', '92.7 bhp', '88 bhp', '58.33 bhp', '78.8 bhp',
       '64.4 bhp', '125 bhp', '139.01 bhp', '254.8 bhp', '181 bhp',
       '258 bhp', '55.23 bhp', '270.9 bhp', '265 bhp', '157.75 bhp',
       '101 bhp', '186 bhp', '187.4 bhp', '224 bhp', '64.9 bhp',
       '148 bhp', '89.75 bhp', '32.8 bhp', '91.72 bhp', '106 bhp',
       '98.97 bhp', '66.6 bhp', '86 bhp', '65.3 bhp', '98.82 bhp',
       '198.25 bhp', '38 bhp', '142 bhp', '132 bhp', '174.57 bhp',
       '178 bhp', '163.2 bhp', '203.2 bhp', '177.5 bhp', '175 bhp',
       '57 bhp', '80.84 bhp', '68.4 bhp', '167.67 bhp', '170.63 bhp',
       '149.5 bhp', '48.21 bhp', ' bhp', '201.1 bhp', '100.5 bhp',
       '144 bhp', '194.4 bhp', '168.7 bhp', '104.5 bhp', '103.26 bhp',
       '116.4 bhp', '98.79 bhp', '35.5 bhp', '80.9 bhp', '58.3 bhp',
       '272 bhp', '235 bhp', '167.62 bhp', '170.30 bhp', '139.46 bhp',
       '158 bhp', '110.5 bhp', '82.5 bhp', '141.1 bhp', '38.4 bhp',
       '197.2 bhp', '161 bhp', '194 bhp', '122.4 bhp', '134.10 bhp',
       '60.2 bhp', '134 bhp', '203 bhp', '135.1 bhp'], dtype=object)

In [25]:
cars['max_power']=cars['max_power'].str.replace('bhp','')

In [26]:
cars['seats']=cars['seats'].astype(int)

In [27]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7902 entries, 0 to 7901
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7902 non-null   object
 1   year           7902 non-null   int64
 2   selling_price  7902 non-null   int64
 3   km_driven      7902 non-null   int64
 4   fuel           7902 non-null   object
 5   seller_type    7902 non-null   object
 6   transmission   7902 non-null   object
 7   owner          7902 non-null   object
 8   mileage        7902 non-null   float64
 9   engine         7902 non-null   float64
 10  max_power      7902 non-null   object
 11  torque         7901 non-null   object
 12  seats          7902 non-null   int32
dtypes: float64(2), int32(1), int64(3), object(7)
memory usage: 771.8+ KB

In [28]:
cars.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74,190Nm@ 2000rpm,5
1,Skoda Rapid 1.5,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,250Nm@ 1500-2500rpm,5
2,Honda City 2017-2020,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78,"12.7@ 2,700(kgm@ rpm)",5
3,Hyundai i20 Sportz,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90,22.4 kgm at 1750-2750rpm,5
4,Maruti Swift VXI,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.2,"11.5@ 4,500(kgm@ rpm)",5

In [29]:
cars['torque'].str.split('@')

0                   [190Nm,  2000rpm]
1              [250Nm,  1500-2500rpm]
2           [12.7,  2,700(kgm,  rpm)]
3          [22.4 kgm at 1750-2750rpm]
4           [11.5,  4,500(kgm,  rpm)]
                    ...
7897              [113.7Nm,  4000rpm]
7898    [24,  1,900-2,750(kgm,  rpm)]
7899                [190Nm,  2000rpm]
7900           [140Nm,  1800-3000rpm]
7901           [140Nm,  1800-3000rpm]
Name: torque, Length: 7902, dtype: object

In [30]:
cars = cars.drop('torque',1)

C:\Users\Gokul\AppData\Local\Temp/ipykernel_18336/410408976.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  cars = cars.drop('torque',1)

In [31]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7902 entries, 0 to 7901
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7902 non-null   object
 1   year           7902 non-null   int64
 2   selling_price  7902 non-null   int64
 3   km_driven      7902 non-null   int64
 4   fuel           7902 non-null   object
 5   seller_type    7902 non-null   object
 6   transmission   7902 non-null   object
 7   owner          7902 non-null   object
 8   mileage        7902 non-null   float64
 9   engine         7902 non-null   float64
 10  max_power      7902 non-null   object
 11  seats          7902 non-null   int32
dtypes: float64(2), int32(1), int64(3), object(6)
memory usage: 710.1+ KB

In [32]:
cars['max_power'] = pd.to_numeric(cars['max_power'],errors = 'coerce')

In [33]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7902 entries, 0 to 7901
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7902 non-null   object
 1   year           7902 non-null   int64
 2   selling_price  7902 non-null   int64
 3   km_driven      7902 non-null   int64
 4   fuel           7902 non-null   object
 5   seller_type    7902 non-null   object
 6   transmission   7902 non-null   object
 7   owner          7902 non-null   object
 8   mileage        7902 non-null   float64
 9   engine         7902 non-null   float64
 10  max_power      7901 non-null   float64
 11  seats          7902 non-null   int32
dtypes: float64(3), int32(1), int64(3), object(5)
memory usage: 710.1+ KB

In [34]:
cars.to_csv('cleaned_cars.csv')

In [35]:
cars[cars['max_power'].isnull()]

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
4792,Maruti Omni CNG,2000,80000,100000,CNG,Individual,Manual,Second Owner,10.9,796.0,NaN,8

In [36]:
cars['max_power'][4795]=cars['max_power'].mean()

C:\Users\Gokul\AppData\Local\Temp/ipykernel_18336/2923900804.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars['max_power'][4795]=cars['max_power'].mean()

In [37]:
cars['max_power'].isnull().sum()

1

## Model

In [38]:
X = cars.drop(columns="selling_price")

In [39]:
y = cars['selling_price']

In [40]:
X

,name,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti Swift Dzire,2014,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5
1,Skoda Rapid 1.5,2014,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5
2,Honda City 2017-2020,2006,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5
3,Hyundai i20 Sportz,2010,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5
4,Maruti Swift VXI,2007,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5
...,...,...,...,...,...,...,...,...,...,...,...
7897,Hyundai i20 Magna,2013,110000,Petrol,Individual,Manual,First Owner,18.50,1197.0,82.85,5
7898,Hyundai Verna CRDi,2007,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.80,1493.0,110.00,5
7899,Maruti Swift Dzire,2009,120000,Diesel,Individual,Manual,First Owner,19.30,1248.0,73.90,5
7900,Tata Indigo CR4,2013,25000,Diesel,Individual,Manual,First Owner,23.57,1396.0,70.00,5
7901,Tata Indigo CR4,2013,25000,Diesel,Individual,Manual,First Owner,23.57,1396.0,70.00,5

In [41]:
y.shape

(7902,)

## Applying Train Test Split

In [42]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1)

In [43]:
from sklearn.linear_model import LinearRegression

In [44]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

## Creating an OneHotEncoder object to contain all the possible categories

In [45]:
ohe=OneHotEncoder()
ohe.fit(X[['name','fuel','seller_type','transmission','owner']])

OneHotEncoder()

In [46]:
ohe.categories_

[array(['Audi A3 35', 'Audi A3 40', 'Audi A4 1.8', 'Audi A4 2.0',
        'Audi A4 35', 'Audi A6 2.0', 'Audi A6 35', 'Audi Q3 2.0',
        'Audi Q3 35', 'Audi Q5 2.0', 'Audi Q5 3.0', 'Audi Q5 35TDI',
        'Audi Q5 45', 'Audi Q7 3.0', 'Audi Q7 35', 'BMW 3 Series',
        'BMW 5 Series', 'BMW 6 Series', 'BMW 7 Series', 'BMW X1 sDrive',
        'BMW X1 sDrive20d', 'BMW X1 sDrive20i', 'BMW X3 xDrive20d',
        'BMW X4 M', 'BMW X5 3.0d', 'BMW X6 xDrive30d', 'BMW X7 xDrive',
        'Chevrolet Aveo 1.4', 'Chevrolet Aveo U-VA',
        'Chevrolet Beat Diesel', 'Chevrolet Beat LS', 'Chevrolet Beat LT',
        'Chevrolet Captiva 2.2', 'Chevrolet Captiva LT',
        'Chevrolet Cruze LT', 'Chevrolet Cruze LTZ', 'Chevrolet Enjoy 1.3',
        'Chevrolet Enjoy 1.4', 'Chevrolet Enjoy Petrol',
        'Chevrolet Enjoy TCDi', 'Chevrolet Optra 1.6',
        'Chevrolet Optra Magnum', 'Chevrolet Sail 1.2',
        'Chevrolet Sail 1.3', 'Chevrolet Sail Hatchback',
        'Chevrolet Sail LT', 'Chevrolet Spark 1.0',
        'Chevrolet Tavera B1-10', 'Chevrolet Tavera B2',
        'Chevrolet Tavera B3', 'Chevrolet Tavera LS',
        'Chevrolet Tavera Neo', 'Chevrolet Trailblazer LTZ',
        'Daewoo Matiz SD', 'Daewoo Matiz SS', 'Datsun GO A',
        'Datsun GO Anniversary', 'Datsun GO D', 'Datsun GO Plus',
        'Datsun GO T', 'Datsun RediGO 1.0', 'Datsun RediGO A',
        'Datsun RediGO AMT', 'Datsun RediGO S', 'Datsun RediGO SV',
        'Datsun RediGO Sport', 'Datsun RediGO T',
        'Fiat Avventura MULTIJET', 'Fiat Avventura Power',
        'Fiat Grande Punto', 'Fiat Linea 1.3', 'Fiat Linea Classic',
        'Fiat Linea Emotion', 'Fiat Punto 1.2', 'Fiat Punto EVO',
        'Fiat Punto Pure', 'Force Gurkha Hard', 'Force One EX',
        'Force One SX', 'Ford Aspire Titanium', 'Ford Aspire Trend',
        'Ford Classic 1.4', 'Ford Classic 1.6', 'Ford EcoSport 1.5',
        'Ford EcoSport S', 'Ford Ecosport 1.0', 'Ford Ecosport 1.5',
        'Ford Ecosport Sports', 'Ford Endeavour 2.2',
        'Ford Endeavour 2.5L', 'Ford Endeavour 3.0L', 'Ford Endeavour 3.2',
        'Ford Endeavour 4x2', 'Ford Endeavour Hurricane',
        'Ford Fiesta 1.4', 'Ford Fiesta 1.5', 'Ford Fiesta 1.6',
        'Ford Fiesta Classic', 'Ford Fiesta Diesel', 'Ford Fiesta EXi',
        'Ford Fiesta Titanium', 'Ford Figo 1.2P', 'Ford Figo 1.5',
        'Ford Figo 1.5D', 'Ford Figo 1.5P', 'Ford Figo Aspire',
        'Ford Figo Diesel', 'Ford Figo Petrol', 'Ford Figo Titanium',
        'Ford Freestyle Titanium', 'Ford Freestyle Trend',
        'Ford Fusion 1.4', 'Ford Fusion Plus', 'Ford Ikon 1.3',
        'Ford Ikon 1.4', 'Ford Ikon 1.6', 'Honda Accord 2.4',
        'Honda Accord V6', 'Honda Accord VTi-L', 'Honda Amaze Anniversary',
        'Honda Amaze E', 'Honda Amaze EX', 'Honda Amaze S',
        'Honda Amaze SX', 'Honda Amaze V', 'Honda Amaze VX',
        'Honda Amaze i-VTEC', 'Honda BR-V i-DTEC', 'Honda BR-V i-VTEC',
        'Honda BRV i-DTEC', 'Honda BRV i-VTEC', 'Honda Brio 1.2',
        'Honda Brio E', 'Honda Brio Exclusive', 'Honda Brio S',
        'Honda Brio V', 'Honda CR-V 2.0L', 'Honda CR-V 2.4',
        'Honda CR-V 2.4L', 'Honda City 1.3', 'Honda City 1.5',
        'Honda City 2017-2020', 'Honda City Corporate', 'Honda City E',
        'Honda City S', 'Honda City V', 'Honda City VX', 'Honda City ZXi',
        'Honda City i', 'Honda City i-DTEC', 'Honda City i-VTEC',
        'Honda Civic 1.8', 'Honda Civic Hybrid', 'Honda Civic ZX',
        'Honda Jazz 1.2', 'Honda Jazz 1.5', 'Honda Jazz Basic',
        'Honda Jazz Select', 'Honda Jazz V', 'Honda Jazz VX',
        'Honda Mobilio RS', 'Honda Mobilio S', 'Honda Mobilio V',
        'Honda WR-V i-DTEC', 'Honda WR-V i-VTEC', 'Hyundai Accent CRDi',
        'Hyundai Accent DLS', 'Hyundai Accent Executive',
        'Hyundai Accent GLE', 'Hyundai Accent GLS', 'Hyundai Accent GLX',
        'Hyundai Accent VIVA', 'Hyundai Creta 1.4', 'Hyundai Creta 1.6',
        'Hyundai EON 1.0', 'Hyundai EON D', 'Hyundai EON Era',
        'Hyundai EON LPG', 'Hyundai EON Magna', 'Hyundai EON Sportz',
        'Hyundai Elantra CRDi', 'Hyundai Elantra GLS',
        'Hyundai Elantra GT', 'Hyundai Elantra S', 'Hyundai Elantra SX',
        'Hyundai Elite i20', 'Hyundai Getz 1.1', 'Hyundai Getz 1.3',
        'Hyundai Getz 1.5', 'Hyundai Getz GLE', 'Hyundai Getz GLS',
        'Hyundai Getz GLX', 'Hyundai Grand i10', 'Hyundai Santa Fe',
        'Hyundai Santro Asta', 'Hyundai Santro Era',
        'Hyundai Santro Magna', 'Hyundai Santro Sportz',
        'Hyundai Santro Xing', 'Hyundai Sonata 2.0L', 'Hyundai Sonata 2.4',
        'Hyundai Sonata 2.4L', 'Hyundai Sonata CRDi', 'Hyundai Tucson 2.0',
        'Hyundai Tucson CRDi', 'Hyundai Venue SX', 'Hyundai Verna 1.4',
        'Hyundai Verna 1.6', 'Hyundai Verna CRDi', 'Hyundai Verna S',
        'Hyundai Verna SX', 'Hyundai Verna Transform',
        'Hyundai Verna VTVT', 'Hyundai Verna XXi', 'Hyundai Verna Xi',
        'Hyundai Xcent 1.1', 'Hyundai Xcent 1.2', 'Hyundai i10 Asta',
        'Hyundai i10 Era', 'Hyundai i10 LPG', 'Hyundai i10 Magna',
        'Hyundai i10 Sportz', 'Hyundai i20 1.2', 'Hyundai i20 1.4',
        'Hyundai i20 2015-2017', 'Hyundai i20 Active', 'Hyundai i20 Asta',
        'Hyundai i20 Diesel', 'Hyundai i20 Era', 'Hyundai i20 Magna',
        'Hyundai i20 Petrol', 'Hyundai i20 Sportz', 'Isuzu D-Max V-Cross',
        'Isuzu MU 7', 'Isuzu MUX 2WD', 'Jaguar XE 2016-2019',
        'Jaguar XF 2.0', 'Jaguar XF 2.2', 'Jaguar XF 3.0',
        'Jaguar XF Diesel', 'Jeep Compass 1.4', 'Jeep Compass 2.0',
        'Jeep Wrangler 2016-2019', 'Kia Seltos HTE', 'Kia Seltos HTX',
        'Land Rover Discovery', 'Land Rover Freelander',
        'Land Rover Range', 'Lexus ES 300h', 'MG Hector Sharp',
        'MG Hector Smart', 'Mahindra Bolero 2011-2019',
        'Mahindra Bolero B2', 'Mahindra Bolero B4', 'Mahindra Bolero DI',
        'Mahindra Bolero LX', 'Mahindra Bolero PLUS',
        'Mahindra Bolero Pik-Up', 'Mahindra Bolero Power',
        'Mahindra Bolero SLE', 'Mahindra Bolero SLX',
        'Mahindra Bolero VLX', 'Mahindra Bolero XL', 'Mahindra Bolero ZLX',
        'Mahindra KUV 100', 'Mahindra Logan Diesel',
        'Mahindra Logan Petrol', 'Mahindra Marazzo M2',
        'Mahindra Marazzo M6', 'Mahindra Marazzo M8',
        'Mahindra NuvoSport N8', 'Mahindra Quanto C2',
        'Mahindra Quanto C4', 'Mahindra Quanto C6', 'Mahindra Quanto C8',
        'Mahindra Renault Logan', 'Mahindra Scorpio 1.99',
        'Mahindra Scorpio 2.6', 'Mahindra Scorpio 2006-2009',
        'Mahindra Scorpio 2009-2014', 'Mahindra Scorpio EX',
        'Mahindra Scorpio Gateway', 'Mahindra Scorpio Getaway',
        'Mahindra Scorpio Intelli', 'Mahindra Scorpio LX',
        'Mahindra Scorpio M2DI', 'Mahindra Scorpio S10',
        'Mahindra Scorpio S11', 'Mahindra Scorpio S2',
        'Mahindra Scorpio S3', 'Mahindra Scorpio S4',
        'Mahindra Scorpio S5', 'Mahindra Scorpio S7',
        'Mahindra Scorpio SLE', 'Mahindra Scorpio SLX',
        'Mahindra Scorpio VLS', 'Mahindra Scorpio VLX',
        'Mahindra Ssangyong Rexton', 'Mahindra Supro LX',
        'Mahindra TUV 300', 'Mahindra Thar 4X4', 'Mahindra Thar CRDe',
        'Mahindra Thar DI', 'Mahindra Verito 1.4', 'Mahindra Verito 1.5',
        'Mahindra Verito 1.6', 'Mahindra Verito Vibe',
        'Mahindra XUV300 W6', 'Mahindra XUV300 W8', 'Mahindra XUV500 AT',
        'Mahindra XUV500 W10', 'Mahindra XUV500 W11', 'Mahindra XUV500 W4',
        'Mahindra XUV500 W5', 'Mahindra XUV500 W6', 'Mahindra XUV500 W7',
        'Mahindra XUV500 W8', 'Mahindra XUV500 W9', 'Mahindra Xylo D2',
        'Mahindra Xylo D4', 'Mahindra Xylo E4', 'Mahindra Xylo E6',
        'Mahindra Xylo E8', 'Mahindra Xylo H4', 'Mahindra Xylo H9',
        'Maruti 800 AC', 'Maruti 800 DX', 'Maruti 800 EX',
        'Maruti 800 Std', 'Maruti 800 Uniq', 'Maruti A-Star Lxi',
        'Maruti A-Star Vxi', 'Maruti A-Star Zxi', 'Maruti Alto 800',
        'Maruti Alto AX', 'Maruti Alto Green', 'Maruti Alto K10',
        'Maruti Alto LX', 'Maruti Alto LXI', 'Maruti Alto LXi',
        'Maruti Alto STD', 'Maruti Alto Std', 'Maruti Baleno Alpha',
        'Maruti Baleno Delta', 'Maruti Baleno LXI', 'Maruti Baleno RS',
        'Maruti Baleno Sigma', 'Maruti Baleno Zeta', 'Maruti Celerio LDi',
        'Maruti Celerio LXI', 'Maruti Celerio VDi', 'Maruti Celerio VXI',
        'Maruti Celerio VXi', 'Maruti Celerio X', 'Maruti Celerio ZDi',
        'Maruti Celerio ZXI', 'Maruti Ciaz 1.3', 'Maruti Ciaz 1.4',
        'Maruti Ciaz AT', 'Maruti Ciaz Alpha', 'Maruti Ciaz Delta',
        'Maruti Ciaz RS', 'Maruti Ciaz S', 'Maruti Ciaz VDI',
        'Maruti Ciaz VDi', 'Maruti Ciaz VXi', 'Maruti Ciaz ZDi',
        'Maruti Ciaz ZXi', 'Maruti Ciaz Zeta', 'Maruti Dzire LXI',
        'Maruti Dzire VXI', 'Maruti Dzire ZXI', 'Maruti Eeco 5',
        'Maruti Eeco 7', 'Maruti Eeco CNG', 'Maruti Eeco Smiles',
        'Maruti Ertiga 1.5', 'Maruti Ertiga BSIV', 'Maruti Ertiga LDI',
        'Maruti Ertiga LXI', 'Maruti Ertiga SHVS', 'Maruti Ertiga VDI',
        'Maruti Ertiga VXI', 'Maruti Ertiga ZDI', 'Maruti Ertiga ZXI',
        'Maruti Esteem AX', 'Maruti Esteem DI', 'Maruti Esteem LX',
        'Maruti Esteem Lxi', 'Maruti Esteem Vxi', 'Maruti Gypsy King',
        'Maruti Ignis 1.2', 'Maruti Ignis 1.3', 'Maruti Ignis Zeta',
        'Maruti Omni 5', 'Maruti Omni 8', 'Maruti Omni CNG',
        'Maruti Omni E', 'Maruti Omni LPG', 'Maruti Omni Limited',
        'Maruti Omni MPI', 'Maruti Ritz Genus', 'Maruti Ritz LDi',
        'Maruti Ritz LXI', 'Maruti Ritz LXi', 'Maruti Ritz VDi',
        'Maruti Ritz VXI', 'Maruti Ritz VXi', 'Maruti Ritz ZDi',
        'Maruti Ritz ZXi', 'Maruti S-Cross 2017-2020',
        'Maruti S-Presso VXI', 'Maruti SX4 Celebration',
        'Maruti SX4 Green', 'Maruti SX4 S', 'Maruti SX4 VDI',
        'Maruti SX4 Vxi', 'Maruti SX4 ZDI', 'Maruti SX4 ZXI',
        'Maruti SX4 Zxi', 'Maruti Swift 1.2', 'Maruti Swift AMT',
        'Maruti Swift DDiS', 'Maruti Swift Dzire', 'Maruti Swift Glam',
        'Maruti Swift LDI', 'Maruti Swift LXI', 'Maruti Swift LXi',
        'Maruti Swift Ldi', 'Maruti Swift Lxi', 'Maruti Swift Star',
        'Maruti Swift VDI', 'Maruti Swift VDi', 'Maruti Swift VVT',
        'Maruti Swift VXI', 'Maruti Swift VXi', 'Maruti Swift Vdi',
        'Maruti Swift ZDI', 'Maruti Swift ZDi', 'Maruti Swift ZXI',
        'Maruti Vitara Brezza', 'Maruti Wagon R', 'Maruti XL6 Alpha',
        'Maruti Zen Base', 'Maruti Zen Classic', 'Maruti Zen D',
        'Maruti Zen Estilo', 'Maruti Zen LX', 'Maruti Zen LXI',
        'Maruti Zen LXi', 'Maruti Zen Std', 'Maruti Zen VXI',
        'Maruti Zen VXi', 'Mercedes-Benz B Class', 'Mercedes-Benz CLA 200',
        'Mercedes-Benz E-Class E', 'Mercedes-Benz E-Class E250',
        'Mercedes-Benz E-Class E270', 'Mercedes-Benz E-Class E350',
        'Mercedes-Benz E-Class Exclusive', 'Mercedes-Benz GL-Class 220d',
        'Mercedes-Benz GL-Class 350', 'Mercedes-Benz GLA Class',
        'Mercedes-Benz GLC 220d', 'Mercedes-Benz M-Class ML',
        'Mercedes-Benz New C-Class', 'Mercedes-Benz S-Class S',
        'Mitsubishi Lancer 2.0', 'Mitsubishi Pajero 2.8',
        'Mitsubishi Pajero Sport', 'Nissan Kicks XL', 'Nissan Kicks XV',
        'Nissan Micra Active', 'Nissan Micra Diesel',
        'Nissan Micra Fashion', 'Nissan Micra XE', 'Nissan Micra XL',
        'Nissan Micra XV', 'Nissan Sunny Diesel', 'Nissan Sunny XE',
        'Nissan Sunny XL', 'Nissan Sunny XV', 'Nissan Teana XL',
        'Nissan Terrano XE', 'Nissan Terrano XL', 'Nissan Terrano XV',
        'Opel Astra 1.6', 'Renault Captur 1.5', 'Renault Duster 110PS',
        'Renault Duster 4x4', 'Renault Duster 85PS',
        'Renault Duster Adventure', 'Renault Duster Petrol',
        'Renault Duster RXL', 'Renault Duster RXZ', 'Renault Fluence 1.5',
        'Renault Fluence 2.0', 'Renault Fluence Diesel',
        'Renault KWID 1.0', 'Renault KWID AMT', 'Renault KWID Climber',
        'Renault KWID RXE', 'Renault KWID RXL', 'Renault KWID RXT',
        'Renault Koleos 2.0', 'Renault Lodgy 85PS',
        'Renault Lodgy Stepway', 'Renault Lodgy World',
        'Renault Pulse RxL', 'Renault Pulse RxZ', 'Renault Scala Diesel',
        'Renault Triber RXT', 'Renault Triber RXZ', 'Skoda Fabia 1.2',
        'Skoda Fabia 1.2L', 'Skoda Fabia 1.4', 'Skoda Fabia Scout',
        'Skoda Kodiaq 2.0', 'Skoda Laura Ambiente',
        'Skoda Octavia Ambiente', 'Skoda Octavia Ambition',
        'Skoda Octavia Classic', 'Skoda Octavia Elegance',
        'Skoda Octavia L', 'Skoda Octavia RS', 'Skoda Octavia Rider',
        'Skoda Octavia Style', 'Skoda Rapid 1.5', 'Skoda Rapid 1.6',
        'Skoda Rapid Monte', 'Skoda Rapid Ultima', 'Skoda Superb Elegance',
        'Skoda Superb LK', 'Skoda Yeti Ambition', 'Tata Aria Pleasure',
        'Tata Aria Prestige', 'Tata Aria Pride', 'Tata Aria Pure',
        'Tata Bolt Quadrajet', 'Tata Bolt Revotron', 'Tata Harrier XZ',
        'Tata Hexa XE', 'Tata Hexa XM', 'Tata Hexa XT', 'Tata Hexa XTA',
        'Tata Indica GLS', 'Tata Indica V2', 'Tata Indica Vista',
        'Tata Indigo CR4', 'Tata Indigo CS', 'Tata Indigo GLS',
        'Tata Indigo GLX', 'Tata Indigo Grand', 'Tata Indigo LS',
        'Tata Indigo LX', 'Tata Indigo TDI', 'Tata Indigo V',
        'Tata Indigo VS', 'Tata Indigo eCS', 'Tata Manza Aqua',
        'Tata Manza Aura', 'Tata Manza Club', 'Tata Manza ELAN',
        'Tata Nano CX', 'Tata Nano Cx', 'Tata Nano LX', 'Tata Nano Lx',
        'Tata Nano STD', 'Tata Nano Twist', 'Tata Nano XE',
        'Tata Nano XTA', 'Tata New Safari', 'Tata Nexon 1.2',
        'Tata Nexon 1.5', 'Tata Safari DICOR', 'Tata Safari Storme',
        'Tata Spacio Gold-10/6', 'Tata Sumo CX', 'Tata Sumo EX',
        'Tata Sumo GX', 'Tata Sumo Gold', 'Tata Sumo MKII', 'Tata Sumo SE',
        'Tata Tiago 1.05', 'Tata Tiago 1.2', 'Tata Tiago 2019-2020',
        'Tata Tiago NRG', 'Tata Tiago Wizz', 'Tata Tiago XT',
        'Tata Tigor 1.05', 'Tata Tigor 1.2', 'Tata Tigor 2017-2020',
        'Tata Venture EX', 'Tata Venture LX', 'Tata Winger Deluxe',
        'Tata Xenon XT', 'Tata Zest Quadrajet', 'Tata Zest Revotron',
        'Toyota Camry 2.5', 'Toyota Camry V4', 'Toyota Camry W4',
        'Toyota Corolla AE', 'Toyota Corolla Altis', 'Toyota Corolla DX',
        'Toyota Corolla H2', 'Toyota Etios 1.4', 'Toyota Etios 1.5',
        'Toyota Etios Cross', 'Toyota Etios Diesel', 'Toyota Etios G',
        'Toyota Etios GD', 'Toyota Etios Liva', 'Toyota Etios VD',
        'Toyota Etios VX', 'Toyota Etios VXD', 'Toyota Fortuner 2.5',
        'Toyota Fortuner 2.8', 'Toyota Fortuner 3.0',
        'Toyota Fortuner 4x2', 'Toyota Fortuner 4x4', 'Toyota Glanza G',
        'Toyota Glanza V', 'Toyota Innova 2.5', 'Toyota Innova Crysta',
        'Toyota Land Cruiser', 'Toyota Platinum Etios', 'Toyota Qualis FS',
        'Toyota Yaris V', 'Volkswagen Ameo 1.0', 'Volkswagen Ameo 1.2',
        'Volkswagen Ameo 1.5', 'Volkswagen CrossPolo 1.5',
        'Volkswagen GTI 1.8', 'Volkswagen Jetta 1.6',
        'Volkswagen Jetta 2.0', 'Volkswagen Jetta 2.0L',
        'Volkswagen Passat 1.8', 'Volkswagen Passat 2.0',
        'Volkswagen Passat Highline', 'Volkswagen Polo 1.0',
        'Volkswagen Polo 1.2', 'Volkswagen Polo 1.5',
        'Volkswagen Polo 2015-2019', 'Volkswagen Polo Diesel',
        'Volkswagen Polo GT', 'Volkswagen Polo Petrol',
        'Volkswagen Polo Select', 'Volkswagen Vento 1.5',
        'Volkswagen Vento 1.6', 'Volkswagen Vento Diesel',
        'Volkswagen Vento IPL', 'Volkswagen Vento Konekt',
        'Volkswagen Vento Petrol', 'Volvo S60 D4', 'Volvo S90 D4',
        'Volvo V40 Cross', 'Volvo V40 D3', 'Volvo XC40 D4',
        'Volvo XC60 Inscription', 'Volvo XC90 T8'], dtype=object),
 array(['CNG', 'Diesel', 'LPG', 'Petrol'], dtype=object),
 array(['Dealer', 'Individual', 'Trustmark Dealer'], dtype=object),
 array(['Automatic', 'Manual'], dtype=object),
 array(['First Owner', 'Fourth & Above Owner', 'Second Owner',
        'Test Drive Car', 'Third Owner'], dtype=object)]

In [47]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','fuel','seller_type','transmission','owner']),
                                    remainder='passthrough')

## Linear Regression Model

In [48]:
lr=LinearRegression()

## Making a pipeline

In [49]:
pipe=make_pipeline(column_trans,lr)

## Fitting the model

In [52]:
X_train.isnull().sum()

name            0
year            0
km_driven       0
fuel            0
seller_type     0
transmission    0
owner           0
mileage         0
engine          0
max_power       1
seats           0
dtype: int64

In [53]:
X_train=X_train.reset_index(drop=True)
X_train

,name,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti Swift ZXI,2018,20000,Petrol,Individual,Manual,First Owner,22.00,1197.0,81.8,5
1,Hyundai i10 Sportz,2010,70000,Petrol,Individual,Manual,Second Owner,20.36,1197.0,78.9,5
2,Maruti Eeco 7,2017,35000,Petrol,Individual,Manual,First Owner,15.37,1196.0,73.0,7
3,Jaguar XE 2016-2019,2017,9000,Diesel,Dealer,Automatic,First Owner,13.60,1999.0,177.0,5
4,Skoda Rapid 1.6,2016,11000,Petrol,Dealer,Automatic,First Owner,14.30,1598.0,103.5,5
...,...,...,...,...,...,...,...,...,...,...,...
7106,Maruti Omni MPI,2016,40000,Petrol,Individual,Manual,First Owner,16.80,796.0,34.2,5
7107,Toyota Innova 2.5,2013,79328,Diesel,Trustmark Dealer,Manual,Second Owner,12.99,2494.0,100.6,7
7108,Maruti Alto LXi,2010,80000,Petrol,Individual,Manual,Second Owner,19.70,796.0,46.3,5
7109,Toyota Camry 2.5,2016,68089,Petrol,Trustmark Dealer,Automatic,First Owner,19.16,2494.0,157.7,5
7110,Maruti Alto K10,2012,80000,Petrol,Individual,Manual,First Owner,20.92,998.0,67.1,5

In [54]:
y_train=y_train.reset_index(drop=True)
y_train

0        720000
1        200000
2        350000
3       2625000
4        645000
         ...
7106     240000
7107     750000
7108     140000
7109    2000000
7110     110000
Name: selling_price, Length: 7111, dtype: int64

In [55]:
y_test=y_test.reset_index(drop=True)
y_test

0      800000
1      600000
2      215000
3      170000
4      265000
        ...
786    300000
787    550000
788    240000
789    500000
790    200000
Name: selling_price, Length: 791, dtype: int64

In [56]:
X_test=X_test.reset_index(drop=True)
X_test

,name,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Ford EcoSport 1.5,2017,60000,Diesel,Individual,Manual,First Owner,22.77,1498.0,98.59,5
1,Maruti Swift AMT,2018,69779,Petrol,Dealer,Automatic,First Owner,22.00,1197.0,81.80,5
2,Maruti Alto LXi,2011,50000,Petrol,Individual,Manual,Second Owner,19.70,796.0,46.30,5
3,Hyundai Verna Xi,2006,110000,Petrol,Individual,Manual,Fourth & Above Owner,13.90,1599.0,103.20,5
4,Hyundai EON Magna,2017,100000,Petrol,Individual,Manual,First Owner,21.10,814.0,55.20,5
...,...,...,...,...,...,...,...,...,...,...,...
786,Hyundai i10 Sportz,2014,65000,Petrol,Individual,Manual,First Owner,20.36,1197.0,78.90,5
787,Volkswagen Polo 1.5,2015,90000,Diesel,Individual,Manual,First Owner,20.14,1498.0,88.80,5
788,Maruti Alto K10,2014,80000,Petrol,Individual,Manual,Second Owner,23.95,998.0,67.05,5
789,Mahindra KUV 100,2018,60000,Petrol,Individual,Manual,First Owner,18.15,1198.0,82.00,6
790,Maruti Ritz VDi,2009,120000,Diesel,Individual,Manual,Second Owner,21.10,1248.0,73.90,5

In [57]:
pipe.fit(X_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [58]:
y_pred=pipe.predict(X_test)

NotFittedError: This LinearRegression instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [ ]:
r2_score(y_test,y_pred)

0.9633254016147091

In [ ]:
scores=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [ ]:
np.argmax(scores)

455

In [ ]:
scores[np.argmax(scores)]

0.9805506128865021

In [ ]:
import pickle

In [ ]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [ ]:
pipe.predict(pd.DataFrame([['Maruti Swift Dzire',2019,10000,'Petrol','Individual','Manual','First Owner',18,1200,80,5]], columns=['name','year','km_driven','fuel','seller_type','transmission','owner','mileage','engine','max_power','seats']))

array([673739.57871152])